.btn{
    padding: 5%;
   margin-top: 2%;
   margin-right: 2%;
   margin-left: 2%;
   margin-bottom: 2%;
    background-attachment: fixed;
    background-color:blueviolet;
    text-align: center;
    color:white;;
}
#btn1{
    padding: 5%;
   margin-top: 2%;
   margin-right: 2%;
   margin-left: 2%;
   margin-bottom: 2%;
    background-attachment: fixed;
    background-color:rgb(52, 45, 45);
    text-align: center;
    color: white;
}